body {
    background-color: #40bf40;
}

.container {
    margin-top: 10px;
    /*	width:79%;*/
}

.col-sm-3,
.col-sm-6 {
    padding: 15px;
}

.left-column,
.right-column,
.middle-column {
    background-color: #e6e6e6;
    height: 600px;
}

/*TODO:This is the list of the players, must be styled*/

.left-column {
    word-wrap: break-word;
}


/*TODO: This is the chat, must be styled!*/

.right-column {
    word-wrap: break-word;
    overflow-y: scroll;
}

.message-input-form {
    bottom: 0;
    top: 94%;
}


#navbar {
    background-color: #1c1c1c;
    border-bottom: 10px solid black;
    color: white;
}

#logo {
    padding: 0px;
    margin: 20px;
    width: 250px;
    height: 32px;
    float: right;
}

.wide {
    height: 50px;
    background-color: white;
    text-align: center;
    padding-top: 15px;
}
